@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Roboto", serif;
}
body{
    background-color: black;
    color: white;
}
.main-head{
    display: flex;
    padding:10px 20px;
}
.side-logo-menu{
    display: flex;
}
.name-logo-location{
    display: flex;
}
.side-logo-menu img{
    width: 30px;
    height: 30px;
}
.arr{
    height: 35px;
    width: 35px;
    padding: 5px;
    
}
.arr:hover{
    border-radius: 50%;
    background-color: #3b3b3b;
    cursor: pointer;
}
.name-logo-location{
    padding-left: 10px;
    padding-top: 4px;
    cursor: pointer;
}
.name-logo-location img{
    width: 35px;
    height: 35px;

}
.name-logo-location p:nth-child(2){
    padding-top: 9px;
    font-size: 18px;
    transform: scaleY(1.3);
    padding-left: 1px;
}
.name-logo-location p:nth-child(3){
    color: #b4b4b4;
    font-size: 11px;
}
.main-search-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 90px;   
    
}
.subsearchbar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 150px;
}
.search input{
    background-color: black;
    border-top-left-radius: 20px ;
    border-bottom-left-radius:20px;
    border: 1px solid #575757;
    padding-left: 10px;
    height: 40px;
    width: 450px;
    color: white;
    font-size: 17px;
}
.searchlogo{
    height: 40px;
    border-top-right-radius:20px ;
    border-bottom-right-radius: 20px;
    background-color: #1a1a1a;
    width: 60px;
    border: 1px solid #575757;
}
.searchlogo img{
    height: 25px;
    width: 25px;
    padding: 5px;
    margin-left: 5px;
    cursor: pointer;
}
.voice{
    margin-left: 20px;
    background-color:#1a1a1a ;
    
    border-radius: 50%;
    height: 45px;
    width: 45px;
   
}
.voice img{
    height: 22px;
    height: 22px;
    padding: 6px;
    margin-top: 6px;
    cursor: pointer;
}
.voice:hover{
    background-color: #6e6e6e;
}
.right-side-profile{
    display: flex;
    margin-left: 360px;
    margin-top: 10px;

}

.userimg img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.setting{
    padding: 0 30px;
}
.setting img{
    height: 30px;
    width: 30px;
}
.main-mid-section-body{
    display: grid;
    height: 100vh;
    grid-template-columns:15fr 80fr ;
    

}
.leftside-navbar{
    height: 100vh;
    overflow-y: auto;
    margin: 10px;
    
}
.leftside-navbar::-webkit-scrollbar{
    display: none;
/* removing the scroll bar */
}
.main-content{
    border: 1px solid rgb(248, 161, 0);
}

.lefthome{
    display: flex;
    padding: 10px;
    background-color: #1a1a1a;
    
    
    border-radius: 10px;
    cursor: pointer;
}
.lefthome img{
    padding-left: 10px;
    
}
.lefthome p{
    padding-left: 20px;
    padding-top: 2px;
    

}
.lefthome:hover{
    background-color: #3b3b3b;
}
.lefthome1{
    display: flex;
    padding: 10px;
    cursor: pointer;
    
    
    border-radius: 10px;
}
.lefthome1 img{
    padding-left: 10px;
    width: 23px;
    height: 23px;
}
.lefthome1 p{
    padding-left: 20px;
    padding-top: 2px;
   

}
.lefthome1:hover{
    background-color: #1a1a1a;
}
.border{
    height: 1px;
    background-color: #b4b4b4;
    margin: 10px;
}
.you{
    display: flex;
    padding: 10px;
    border-radius: 10px;
}
.you:hover{
    background-color: #1a1a1a;
    cursor: pointer;
}
.you p:nth-child(1){
    padding-left: 10px;
    font-weight: 600;
}
.you img{
    width: 22px;
    height: 22px;
    padding-left: 10px;
}
.border2{
    height: 1px;
    background-color: #b4b4b4;
}
.namesubs{
    font-weight: 600;
    padding:10px
}
.more1{
    display: flex;

}
.more1 p{
    padding: 05px;
    font-size: 12px;
}
.more{
    margin: 10px;
    color: #cbcbcb;
    cursor: pointer;
}

.more3{
    font-size: 12px;
    color: #575757;
}
.main-content{
    margin: 10px;
}
.navbar-mainbody{
    height: 56px;
    display: flex;
    width: 80vw;
    align-items: center;
    overflow: hidden;
    overflow-x: scroll;
    padding: 0 20px;
}
.navbar-mainbody::-webkit-scrollbar{
    display: none;
}
.sub-navbaritems1{
    font-size: 14px;
    height: 32px; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 12px;
    border-radius: 8px;
    margin:12px 12px 12px 0;
    background-color: #ffffff;

}
.sub-navbaritems1 a{
    color: black;
    background-color: transparent;
    font-weight: 500;
    width: 100%;
    white-space: nowrap;
    text-decoration: none;
}

.sub-navbaritems{
    font-size: 14px;
    height: 32px; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 12px;
    border-radius: 8px;
    margin:12px 12px 12px 0;
    background-color: #292929;
}
.sub-navbaritems a{
    background-color: transparent;
    font-weight: 500;
    width: 100%;
    white-space: nowrap;
    text-decoration: none;
    color: white;
}
.sub-navbaritems:hover{
    background-color: #575757 ;
}
.videosection{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}


.aboutthumb{
    display: flex;
}
.info1{
    display: flex;
}
.thumb img{
    border-radius: 10px;
    width: 400px;
    transition: all 0.3s;
}
.firstvideo{
    margin: 10px;
    cursor: pointer;
}
.aboutthumb >img{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 7px;
    cursor: pointer;
}
.info1 p{
    color: #a9a9a9;
    font-size: 15px;
    padding: 4px;
    cursor: pointer;

}

.info1 img{
    width: 16px;
    height: 16px;
    padding: 4px;
    cursor: pointer;
}
.font{
    display: flex;
  

}
.font p{
    color: #a9a9a9;
    font-size: 15px;
    padding: 4px;
    cursor: pointer;
}
.font p:nth-child(2){
   padding-bottom: 4px;
}
.thumb img:hover{
    transform: scale(1.02);
}
.shorts-section{
    grid-column: 1/4;
    width: 81.2vw;
    height: auto;
    margin-top: 10px;
}
.shorts-icon{
    display: flex;
    margin-bottom: 24px;
    margin-left: 5px;
}
.shorts-icon img{
    width: 24px;
    height: 24px;
}
.shorts-icon p{
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    margin-left: 15px;
    position: relative;
    top: -5px;
}
.shorts-video-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    left: -10px;
    width: 100%;
    padding: 0 5px;
}
.shorts-video-box{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 15.5vw;
}
.shorts-video-box-img{
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}
.shorts-video-box-img img{
    width: auto;
    height: 429px;
}
.shorts-video-title{
    width: 190px;
    height: 63px;
    position: relative;
    left: -8px;
}
.shorts-video-box-lower{
    display: flex;
    justify-content: center;
    margin-top: 7px;
    width: 100%;
    padding: 0 5px;
}
.shorts-video-box-title{
    width: 100%;
    height: 44px;
    overflow: hidden;
    font-size: 16px;
    line-height: 22px;
}
.shorts-video-box-views{
    font-size: 14px;
    color: rgb(170, 170, 170);
    margin-top: 4px;
}
.three-dot-icon{
    position: relative;
    right: -10px;
}
