@media(max-width:450px){
    html, body {
        overflow-x: hidden;
      }
      
      * {
        /* box-sizing: border-box; */
        width: fit-content;
      }
    body{
        margin: 0;
        padding: 0;
        width: 100%;
        background-color: black;
        color: white;
        max-width: 480px;
        
    }
    .arr img{
        width: 0px;
    }
    .name-logo-location{
        margin: 0;
        
        position: relative;
        right:45px ;
    }
    .name-logo-location p:nth-child(3){
        font-size: 0;
    }
    .search{
      transform: scale(0);
    }
    .navbar-mainbody{
        border-top: 1px solid #646464;
        border-bottom: 1px solid #646464;
        position: relative;
        right: 5px;
        width:100vw;
        
        margin: 0;
    }
    .leftside-navbar{
        transform: scale(0);
    }
   
    .videosection{
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
    .thumb img{
        border-radius: 0;
        padding: 0;
        margin: 0;
        
    }
    .videosection{
        margin: 0;
        padding: 0;
    }
    .userimg img{
        height: 0;
        width: 0;
    }
    .setting img{
        height: 0;
        width: 0;
    }
    .voice img{
        height: 0vh;
        width: 0vw;
        
    }
    .voice{
        height: 0;
        width: 0;
    }
    .searchlogo{
        background-color: black;
        border: none;
        position: relative;
        right: 490px;

    }
    .search img{
        width: 40px;
        height: 40px;
    }
    
    .thumb img {
        position: relative;
        right: 20px;
    }
    .info1 img{
        width: 0;
    }
    .threedot img{
        position: relative;
        right: 10px;
    }
    /* .font{
        position: relative;
        left: 70px;
        bottom: 22.6px;

    } */
    .newtext{
        display: flex;
        position: relative;
        right: 2px;
    }
    .newtext p{
        font-size: 12px;
        
    }
    .thumb img{
        position: relative;
        right: 30px;
    }
    .threedot img{
        position: relative;
        ri
    }

}